    <!-- Full name -->
    <div id="full-name-group" class="form-group">
        <fieldset>
                <legend class="form-label-bold">
                  Full Name
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="title">Title</label>
                  <input name="title" class="form-control form-control-1-4" type="text" id="Title" value="{{ entity.title if entity.title else "" }}">
                </div>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="Forenames">Forenames</label>
                  <input name="forenames" class="form-control" type="text" id="Forenames" value="{{ entity.forenames if entity.forenames else "" }}" required>
                </div>

                <div class="form-group">
                  <label class="form-label" for="Surname">Surname</label>
                  <input name="surname" class="form-control" type="text" id="Surname" value="{{ entity.surname if entity.surname else "" }}" required>
                </div>
        </fieldset>
    </div>
