{% extends "layout.html" %}

{% block page_title %}
  Campaigner Status
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/referendum-outcome" class="back-link">Back</a>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/examples/elements/campaigner-status" method="post" class="form">

        <h2 class="heading-large">
          Are you registering as an individual or organisation?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Are you registering as an individual or organisation?
            </legend>

            <label for="individual" class="block-label">
              <input id="individual" type="radio" name="campaigner-status" value="Individual">
              <span class="heading-small">An individual registered on a UK electoral register</span><br>
            </label>

            <label for="organisation" class="block-label">
              <input id="organisation" type="radio" name="campaigner-status" value="Organisation">
              <span class="heading-small">an organisation</span><br>
            </label>

          </fieldset>
        </div>


    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
