{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/examples/elements/organisation-type" method="post" class="form">

        <h2 class="heading-large">
          What type of organisation do you represent?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What type of organisation do you represent?
            </legend>

            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
              <span class="heading-small">Registered political party</span><br>
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Minor political party</span><br>
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Limited liability partnership</span><br>
            </label>  

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Building society</span><br>
            </label>                      

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Friendly, Industrial or Provident society</span><br>
            </label>            

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Trade union</span><br>
            </label>            

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Unincorporated association</span><br>
            </label>            

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">A Scottish partnership carrying on business in the UK</span><br>
            </label>         

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">A body incorporated by Royal Charter</span><br>
            </label>               

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">A UK charitable incorporated organisation</span><br>
            </label>            

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Company</span><br>
            </label>            

          </fieldset>
        </div>


    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
