{% extends "layout.html" %}

{% block page_title %}
  Organisation Type
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/register-organisation" class="back-link">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/examples/elements/organisation-type" method="post" class="form">

        <h2 class="heading-large">
          What type of organisation do you represent?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              What type of organisation do you represent?
            </legend>

            <label for="org-type-2" class="block-label">
              <input id="org-type-2" type="radio" name="organisation-type" value="Political Party">
              <span class="heading-small">Registered political party</span><br>
            </label>

            <label for="org-type-3" class="block-label">
              <input id="org-type-3" type="radio" name="organisation-type" value="Minor Party">
              <span class="heading-small">Minor political party</span><br>
            </label>

            <label for="org-type-4" class="block-label">
              <input id="org-type-4" type="radio" name="organisation-type" value="Limited liability partnership">
              <span class="heading-small">Limited liability partnership</span><br>
            </label>  

            <label for="org-type-5" class="block-label">
              <input id="org-type-5" type="radio" name="organisation-type" value="Building society">
              <span class="heading-small">Building society</span><br>
            </label>                      

            <label for="org-type-6" class="block-label">
              <input id="org-type-6" type="radio" name="organisation-type" value="Friendly, Industrial or Provident society">
              <span class="heading-small">Friendly, Industrial or Provident society</span><br>
            </label>            

            <label for="org-type-7" class="block-label">
              <input id="org-type-7" type="radio" name="organisation-type" value="Trade union">
              <span class="heading-small">Trade union</span><br>
            </label>            

            <label for="org-type-8" class="block-label">
              <input id="org-type-8" type="radio" name="organisation-type" value="Unincorporated association">
              <span class="heading-small">Unincorporated association</span><br>
            </label>            

            <label for="org-type-9" class="block-label">
              <input id="org-type-9" type="radio" name="organisation-type" value="A Scottish partnership carrying on business in the UK">
              <span class="heading-small">A Scottish partnership carrying on business in the UK</span><br>
            </label>         

            <label for="org-type-10" class="block-label">
              <input id="org-type-10" type="radio" name="organisation-type" value="A body incorporated by Royal Charter">
              <span class="heading-small">A body incorporated by Royal Charter</span><br>
            </label>               

            <label for="org-type-11" class="block-label">
              <input id="org-type-11" type="radio" name="organisation-type" value="A UK charitable incorporated organisation">
              <span class="heading-small">A UK charitable incorporated organisation</span><br>
            </label>            

            <label for="org-type-12" class="block-label">
              <input id="org-type-12" type="radio" name="organisation-type" value="Company">
              <span class="heading-small">Company</span><br>
            </label>            

          </fieldset>
        </div>


    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
