{% extends "layout.html" %}

{% block page_title %}
  Party Leader
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-correspondence" class="back-link">Back</a>
  </div>

  {% if error %}
  <div class="error-summary" tabindex="-1" aria-labelledby="error-summary-header" role="group">
      <h2 id="error-summary-header" class="error-summary-heading">There’s a problem</h2>
      <ul class="error-summary-list">
        <li><a href="#address-group">Please tell us who your leader is</a></li>      
      </ul>
  </div>
  {% endif %}

  <form action="/examples/elements/party-leader" method="post" class="form">

    <h1 class="form-title heading-large">
      Party Officers: Party Leader
    </h1>

    <!-- Party Officer Help -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Help with party officers</span></summary>
        <div class="panel panel-border-narrow">
          <p>Please give the full names and home addresses of the people to be registered as leader, nominating officer and treasurer of the party. Parties may also choose to register a campaigns officer (this post cannot be filled by the person to be registered as party treasurer).</p>
          <p>You must have at least two individuals as the party's officers. If the leader, nominating officer and treasurer are the same person, a campaigns officer or additional officer must be registered.</p>
          <p>Please note that home addresses will not be part of the published register of parties and therefore will not be available to people viewing the register (unless the address is published as the headquarters address).<p>
        </div>
        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            The registered officers of parties are subject to legal requirements under the Political Parties, Elections and Referendums Act 2000.<br>
          </strong>
        </div>
      </details>
    </div>
    
    <div id="party-leader-group" class="form-group" data-gakey="leader">
      <!-- Full name -->
      {% include "includes/full_name.html" %}
      <!-- Address -->
      {% include "includes/address.html" %}
      <!-- telephone and email -->
      {% include "includes/tel_and_email.html" %}
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
