{% extends "layout.html" %}

{% block page_title %}
  Party Emblems
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-descriptions" class="back-link">Back</a>
  </div>


  <form spellcheck="false" action="/examples/elements/party-emblems" class="form" method="post" novalidate="true" autocomplete="off">

    <h1 class="form-title heading-large">
      Party Emblems
    </h1>

    <!-- Party Emblems Help -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Help with party emblems</span></summary>
        <div class="panel panel-border-narrow">
          <p>You can register up to three emblems.</p>
          <p>Emblems should be in black and white only, with no colours or shades of grey, and should fit within a 5cm square frame. This will enable us to make a good quality reproduction of the emblem, which can be reproduced in black and white on ballot papers.<p>
        </div>
      </details>
    </div>

       <!-- Description 1r -->
    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem1">
        <span class="" id="emblem-label-text">Upload your first party emblem</span>
      </label>
            <input name="emblem1" class="photo-choose-file" id="emblem1" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>

    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem2">
        <span class="" id="emblem-label-text">Upload your second party emblem</span>
      </label>
            <input name="emblem2" class="photo-choose-file" id="emblem2" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>

    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem3">
        <span class="" id="emblem-label-text">Upload your third party emblem</span>
      </label>
            <input name="emblem3" class="photo-choose-file" id="emblem3" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
    
  </form>
</main>

{% endblock %}
