{% extends "layout.html" %}

{% block page_title %}
  Party Descriptions
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-campaigns-officer" class="back-link">Back</a>
  </div>


  <form action="/examples/elements/party-descriptions" method="post" class="form">

    <h1 class="form-title heading-large">
      Party Descriptions
    </h1>

    <!-- Party Descriptions Help -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Help with party descriptions</span></summary>
        <div class="panel panel-border-narrow">
          <p>You may register up to 12 descriptions with the Commission. The rules for descriptions are the same as those for names. You do not have to register any descriptions, but if you do not, your candidates can only stand under a description that is the exact registered name of the party. </p>
          <p>Descriptions for parties registered to contest elections in Wales can be in English or Welsh. There is no need to provide a translation, but if a translation to or from Welsh is provided, both the Welsh and the English versions will be jointly registered as the description. Where both an English and Welsh version of a description are given, this counts as a single description against the 12 descriptions limit.</p>
          <p>Some parties nominate candidates jointly with one or more other parties. Parties may therefore register a joint description for use by a candidate standing on behalf of both or all of the parties jointly that should also not be more than six words long. Only one joint description may be registered by any combination of parties and must be authorised by the nominating officers of both or all parties involved. <p>
        </div>
      </details>
    </div>

       <!-- Description 1r -->
    <div class="form-group">
        <fieldset>
                <div class="form-group form-group-compound">
                  <label class="form-label" for="title">Description</label>
                  <input class="form-control" type="text" id="description-1">
                </div>

                <label for="joint-desc" class="block-label" data-target="joint-desc-1">
                    <input type="checkbox" name="joint-desc" value="Joint description" id="joint-desc">Joint description
                </label>

            <label for="lang_other" class="block-label" data-target="example_lang_other">
              <input type="checkbox" name="lang_other" value="other" id="lang_other">
              Other language
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_lang_other">
              <label for="lang_other_languages" class="form-label">
                Other Language Description
              </label>
              <input class="form-control" type="text" id="lang_other_languages">
              <p class="form-hint">English translation</p>
              <input type="text" class="form-control" id="other-party-name">
            </div>
        </fieldset>
    </div>



    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</main>

{% endblock %}
