{% extends "layout.html" %}

{% block page_title %}
  Party Campaigns Officer
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/additional-officer" class="back-link">Back</a>
  </div>


  <form action="/examples/elements/party-campaigns-officer" method="post" class="form">

    <h1 class="form-title heading-large">
      Party Officers: Campaigns Officer
    </h1>

    <!-- Party Officer Help -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Help with party officers</span></summary>
        <div class="panel panel-border-narrow">
          <p>Please give the full names and home addresses of the people to be registered as leader, campaigns officer and treasurer of the party. Parties may also choose to register a campaigns officer (this post cannot be filled by the person to be registered as party treasurer).</p>
          <p>You must have at least two individuals as the party's officers. If the leader, campaigns officer and treasurer are the same person, a campaigns officer or additional officer must be registered.</p>
          <p>Please note that home addresses will not be part of the published register of parties and therefore will not be available to people viewing the register (unless the address is published as the headquarters address).<p>
        </div>
        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            The registered officers of parties are subject to legal requirements under the Political Parties, Elections and Referendums Act 2000.<br>
          </strong>
        </div>
      </details>
    </div>

       <!-- Full namer -->
    <div class="form-group">
        <fieldset>
                <legend class="form-label-bold">
                  Campaigns Officer Full Name
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="title">Title</label>
                  <input name="campaignsOfficerTitle" class="form-control form-control-1-4" type="text" id="Title">
                </div>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="Forenames">Forenames</label>
                  <input name="campaignsOfficerForenames" class="form-control" type="text" id="Forenames">
                </div>

                <div class="form-group">
                  <label class="form-label" for="Surname">Surname</label>
                  <input name="campaignsOfficerSurname" class="form-control" type="text" id="Surname">
                </div>
        </fieldset>
    </div>
     <!-- Correspondence Address -->
     <div class="form-group" id="address">
       <fieldset>
         <legend class="form-label-bold">Correspondence address</legend>
         <div class="form-group form-group-compound">
           <label class="form-label" for="address-line-1">Street</label>
           <input name="campaignsOfficerAddressLine1" class="form-control" type="text" id="addressLine1">
         </div>

         <div class="form-group form-group-compound">
           <label class="form-label visuallyhidden" for="address-line-2">Street</label>
           <input name="campaignsOfficerAddressLine2" class="form-control" type="text" id="addressLine2">
         </div>

         <div class="form-group form-group-compound">
           <label class="form-label" for="address-town">Town or City</label>
           <input name="campaignsOfficerTown" class="form-control form-control-1-4" type="text" id="addressTown">
         </div>

         <div class="form-group form-group-compound">
           <label class="form-label" for="address-county">County</label>
           <input name="campaignsOfficerCounty" class="form-control form-control-1-4" type="text" id="addressCounty">
         </div>

         <div class="form-group">
           <label class="form-label" for="address-postcode">Postcode</label>
           <input name="campaignsOfficerPostcode" class="form-control form-control-1-8" type="text" id="addressPostcode">
         </div>
       </fieldset>
      </div>

      <!-- Telephone number -->
      <div class="form-group">
        <label class="form-label-bold" for="telephone-number">
          Telephone number
        </label>
        <input name="campaignsOfficerPhone" type="text" class="form-control" id="telephone-number">
      </div>

      <!-- Email Address --> 
      <div class="form-group">
        <fieldset>
          <legend class="form-label-bold">Email address</legend>
          <div class="form-email">
            <input name="campaignsOfficerEmail" type="text" class="form-control" id="email">
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>
  </main>

{% endblock %}
