{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-descriptions" class="back-link">Back</a>
  </div>


  <form spellcheck="false" action="/examples/elements/party-emblems" class="form" method="post" novalidate="true" autocomplete="off">

    <h1 class="form-title heading-large">
      Party Emblems
    </h1>

       <!-- Description 1r -->
    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem1">
        <span class="" id="emblem-label-text">Upload your first party emblem</span>
      </label>
            <input name="emblem1" class="photo-choose-file" id="emblem1" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>

    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem2">
        <span class="" id="emblem-label-text">Upload your second party emblem</span>
      </label>
            <input name="emblem2" class="photo-choose-file" id="emblem2" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>

    <div class="form-group" id="emblem-group">
      <label class="button photo-upload-label" role="button" for="emblem3">
        <span class="" id="emblem-label-text">Upload your third party emblem</span>
      </label>
            <input name="emblem3" class="photo-choose-file" id="emblem3" aria-required="true" aria-controls="progress-container" type="file" accept="image/jpeg image/gif" />
    </div>
      <!--
        <fieldset>
                <div class="form-group form-group-compound">
                  <label class="form-label" for="title">Emblem description</label>
                  <input class="form-control" type="text" id="description-1">
                  </div>
                  <div>
                  <label class="form-label" for="title">Upload Image</label><br>
                  <input type="file" id="emblem-1">
                  <button class="button" onclick="myFunction()">Upload</button>
                </div>
        </fieldset>

    </div>
    <div>
        <label class="form-label" for="title">Preview</label><br>
        <img src="emblem.jpg" alt="Emblem" width="220" height="220">
    </div>
        -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
    
  </form>
</main>

      <!--<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>
-->

{% endblock %}
