{% extends "layout.html" %}

{% block page_title %}
  Party Deatils
{% endblock %}

{% block content %}
<main id="content" role="main">
  
  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-name" class="back-link">Back</a>
  </div>

  <form action="/examples/elements/party-correspondence" class="form" method="post" novalidate="true" autocomplete="off" >

    <h1 class="form-title heading-large">
      Party Headquarters
    </h1>

    <!-- Party Address Help -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Help with party headquarters</span></summary>
        <div class="panel panel-border-narrow">
          <p>This should be the address of the party’s headquarters. If the party does not have a headquarters, it should be an address to which correspondence can be sent. Please note that this is the address to which all correspondence will be sent, and that it will be published in the public register even if it is the home address of an individual. Details of daytime telephone and email will not be published on the public register. </p>
        </div>
      </details>
    </div>
    
    <!-- Address -->
    {% include "includes/address.html" %}
    <!-- telephone and email -->
    {% include "includes/tel_and_email.html" %}

      <!-- Website Address --> 
      <div class="form-group">
        <fieldset>
          <legend class="form-label-bold">Website address</legend>
          <div class="form-website">
            <input name="website" type="url" class="form-control" id="website">
          </div>
        </fieldset>
      </div>


      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>
  </main>

{% endblock %}
