{% extends "layout.html" %}

{% block page_title %}
  Example - Radio buttons and checkboxes
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/examples/elements/referendum-outcome" method="post" class="form">

        <h2 class="heading-large">
          Which referendum outcome will you be campaigning for?
        </h2>

        <p>
          Select one of the options below.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Which referendum outcome will you be campaigning for?
            </legend>

            <label for="outcome-a" class="block-label">
              <input id="outcome-a" type="radio" name="referendum" value="Outcome A">
              <span class="heading-small">Outcome A</span><br>
            </label>

            <label for="outcome-b" class="block-label">
              <input id="outcome-b" type="radio" name="referendum" value="Outcome B">
              <span class="heading-small">Outcome B</span><br>
            </label>

          </fieldset>
        </div>


    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
