{% extends "layout.html" %}

{% block page_title %}
  Register Individual
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/third-party-status" class="back-link">Back</a>
  </div>


  <form action="/examples/elements/register-individual" method="post" class="form">

    <h1 class="form-title heading-large">
      Details of the individual applying for registration
    </h1>

    <!-- Full name -->
    {% include "includes/full_name.html" %}
    <!-- Address -->
    {% include "includes/address.html" %}
    <!-- telephone and email -->
    {% include "includes/tel_and_email.html" %}
    
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </form>
  </main>

{% endblock %}
