{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-emblems" class="back-link">Back</a>
  </div>


  <header>
    <h1 class="heading-large">
      Check your answers before sending your application
    </h1>
  </header>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Political Party Registration
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Party Name
        </td>
        <td>
          {% if application.party_name.englishPartyName %} English: {{ application.party_name.englishPartyName }} <br> {% endif %}
          {% if application.party_name.welshPartyName %} Welsh: {{ application.party_name.welshPartyName }} <br> {% endif %}
          {% if application.party_name.otherPartyName %} Other: {{ application.party_name.otherPartyName }} <br>Translation: {{ application.party_name.partyNameTranslation }}<br> {% endif %}
          
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-name">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Party Headquarters
        </td>
        <td>
          {% if application.party_address.addressLine1 %} {{ application.party_address.addressLine1 }}<br> {% endif %}
          {% if application.party_address.addressLine2 %} {{ application.party_address.addressLine2 }}<br> {% endif %}
          {% if application.party_address.town %} {{ application.party_address.town }}<br> {% endif %}
          {% if application.party_address.county %} {{ application.party_address.county }}<br> {% endif %}
          {% if application.party_address.postcode %} {{ application.party_address.postcode }}<br> {% endif %}
          {% if application.party_address.phone %} Tel: {{ application.party_address.phone }}<br> {% endif %}
          {% if application.party_address.email %} Email: {{ application.party_address.email }}<br> {% endif %}
          {% if application.party_address.website %} Website: {{ application.party_address.website }}<br> {% endif %}
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-name">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Party Leader
        </td>
        <td>
          {{ application.party_leader.title }} {{ application.party_leader.forenames }} {{ application.party_leader.surname }}<br>
          {% if application.party_leader.addressLine1 %} {{ application.party_leader.addressLine1 }}<br> {% endif %}
          {% if application.party_leader.addressLine2 %} {{ application.party_leader.addressLine2 }}<br> {% endif %}
          {% if application.party_leader.town %}  {{ application.party_leader.town }}<br> {% endif %}
          {% if application.party_leader.county %} {{ application.party_leader.county }}<br> {% endif %}
          {% if application.party_leader.postcode %} {{ application.party_leader.postcode }}<br> {% endif %}
          {% if application.party_leader.phone %} Tel: {{ application.party_leader.phone }}<br> {% endif %}
          {% if application.party_leader.email %} Email: {{ application.party_leader.email }}<br> {% endif %}
        </td> 
        <td class="change-answer">
          <a href="/examples/elements/party-leader">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
            <tr>
        <td>
          Nominating Officer
        </td>
        <td>
          {{ application.party_nominating_officer.title }} {{ application.party_nominating_officer.forenames }} {{ application.party_nominating_officer.surname }}<br>
          {% if application.party_nominating_officer.addressLine1 %} {{ application.party_nominating_officer.addressLine1 }}<br> {% endif %}
          {% if application.party_nominating_officer.addressLine2 %} {{ application.party_nominating_officer.addressLine2 }}<br> {% endif %}
          {% if application.party_nominating_officer.town %} {{ application.party_nominating_officer.town }}<br> {% endif %}
          {% if application.party_nominating_officer.county %} {{ application.party_nominating_officer.county }}<br> {% endif %}
          {% if application.party_nominating_officer.postcode %} {{ application.party_nominating_officer.postcode }}<br> {% endif %}
          {% if application.party_nominating_officer.phone %} Tel: {{ application.party_nominating_officer.phone }}<br> {% endif %}
          {% if application.party_nominating_officer.email %} Email: {{ application.party_nominating_officer.email }}<br> {% endif %}
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-nominating-officer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Treasurer
        </td>
        <td>
          {{ application.party_treasurer.title }} {{ application.party_treasurer.forenames }} {{ application.party_treasurer.surname }}<br>
          {% if application.party_treasurer.addressLine1 %} {{ application.party_treasurer.addressLine1 }}<br> {% endif %}
          {% if application.party_treasurer.addressLine2 %} {{ application.party_treasurer.addressLine2 }}<br> {% endif %}
          {% if application.party_treasurer.town %} {{ application.party_treasurer.town }}<br> {% endif %}
          {% if application.party_treasurer.county %} {{ application.party_treasurer.county }}<br> {% endif %}
          {% if application.party_treasurer.postcode %} {{ application.party_treasurer.postcode }}<br> {% endif %}
          {% if application.party_treasurer.phone %} Tel: {{ application.party_treasurer.phone }}<br> {% endif %}
          {% if application.party_treasurer.email %} Email: {{ application.party_treasurer.email }}<br> {% endif %}
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-treasurer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Additional Officer
        </td>
        <td>
          Yes: a Campaigns Officer<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/additional-officer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Campaigns Officer
        </td>
        <td>
          {{ application.party_campaigns_officer.title }} {{ application.party_campaigns_officer.forenames }} {{ application.party_campaigns_officer.surname }}<br>
          {% if application.party_campaigns_officer.addressLine1 %} {{ application.party_campaigns_officer.addressLine1 }}<br> {% endif %}
          {% if application.party_campaigns_officer.addressLine2 %} {{ application.party_campaigns_officer.addressLine2 }}<br> {% endif %}
          {% if application.party_campaigns_officer.town %} {{ application.party_campaigns_officer.town }}<br> {% endif %}
          {% if application.party_campaigns_officer.county %} {{ application.party_campaigns_officer.county }}<br> {% endif %}
          {% if application.party_campaigns_officer.postcode %} {{ application.party_campaigns_officer.postcode }}<br> {% endif %}
          {% if application.party_campaigns_officer.phone %} Tel: {{ application.party_campaigns_officer.phone }}<br> {% endif %}
          {% if application.party_campaigns_officer.email %} Email: {{ application.party_campaigns_officer.email }}<br> {% endif %}
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-campaigns-officer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Descriptions
        </td>
        <td>
          1. Description<br>
          2. Description<br>
          3. Description<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-descriptions">
            Change <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Emblems
        </td>
        <td>
          <img src="emblem.jpg" alt="Emblem" width="220" height="220">
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-emblems">
            Change <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>


    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="/examples/confirmation-page" class="button">Print and sign declaration</a>
  </div>

</main>

{% endblock %}
