{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <!-- Alpha Banner -->
  {% include "includes/phase_banner_alpha.html" %}

  <!-- Back link instead of breadcrumb bar -->
  <div id="back">
    <a href="/examples/elements/party-emblems" class="back-link">Back</a>
  </div>


  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Political Party Registration
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Party Details
        </td>
        <td>
          Party name<br>
          First line of address<br>
          Second line of address<br>
          Town or City<br>
          County<br>
          Postcode<br>
          Tel: 01234 567 890<br>
          Email: email@email.com<br>
          Website: www.party.org.uk<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-name">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Party Leader
        </td>
        <td>
          Leader name<br>
          First line of address<br>
          Second line of address<br>
          Town or City<br>
          County<br>
          Postcode<br>
          Tel: 01234 567 890<br>
          Email: email@email.com<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-leader">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
            <tr>
        <td>
          Nominating Officer
        </td>
        <td>
          Officer name<br>
          First line of address<br>
          Second line of address<br>
          Town or City<br>
          County<br>
          Postcode<br>
          Tel: 01234 567 890<br>
          Email: email@email.com<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-nominating-officer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
                  <tr>
        <td>
          Treasurer
        </td>
        <td>
          Treasurer name<br>
          First line of address<br>
          Second line of address<br>
          Town or City<br>
          County<br>
          Postcode<br>
          Tel: 01234 567 890<br>
          Email: email@email.com<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-treasurer">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Descriptions
        </td>
        <td>
          1. Description<br>
          2. Description<br>
          3. Description<br>
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-descriptions">
            Change <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Emblems
        </td>
        <td>
          <img src="emblem.jpg" alt="Emblem" width="220" height="220">
        </td>
        <td class="change-answer">
          <a href="/examples/elements/party-emblems">
            Change <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>


    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="/examples/confirmation-page" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
