{% extends "layout.html" %}

{% block page_title %}
  Start party registration
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}


<main id="content" role="main">
  
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Political Party Registration</a></li>
      <li>Great Britain</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>register a political party in Great Britain</li>
        <li>you need to do this in order to take part in elections</li>
      </uL>

      <p>Registering takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="/examples/elements/party-name" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">register by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Political Parties</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="http://www.electoralcommission.org.uk/i-am-a/party-or-campaigner/guidance-for-political-parties">Guidance for political parties</a></li>
            <li><a href="http://www.electoralcommission.org.uk/__data/assets/pdf_file/0004/107680/intro-registration-rp.pdf">Introduction to registering a political party</a></li>            
            <li><a href="http://www.electoralcommission.org.uk/__data/assets/pdf_file/0009/107694/to-names-rp.pdf">Overview of names, descriptions and emblems</a></li>
            <li><a href="chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/http://www.electoralcommission.org.uk/__data/assets/pdf_file/0003/107697/sp-application-rp.pdf">Process for registering a political party</a></li>
            <li><a href="http://www.legislation.gov.uk/ukpga/2000/41/pdfs/ukpga_20000041_en.pdf">Political Parties, Elections and Referendums Act 2000</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
