<html>
    <head><title>Hello world page</title></head>
    <body>
       {{ application.party_leader.title }} {{ application.party_leader.forenames }} {{ application.party_leader.surname }}<br>>
        {{ application.party_leader.addressLine1 }}<br>>
         {{ application.party_leader.addressLine2 }}<br>>
         {{ application.party_leader.town }}<br>>
         {{ application.party_leader.county }}<br>>
         {{ application.party_leader.postcode }}<br>>
         Tel: {{ application.party_leader.phone }}<br>>
         Email: {{ application.party_leader.email }}<br>>
    </body>
</html>