<!-- Rebrand to Electoral Commission -->
{% set global_header_text = '' %}
{% set logo_link_title = 'Go to the Electoral Commission homepage' %}
{% set homepage_url = 'http://www.electoralcommission.org.uk/' %}

{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
